@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #dedede;
    background-color: #0e0026;
    -webkit-overflow-scrolling:touch;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
}

h2 {
    color: #fff;
}

a {
    color: #e0e0e0;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 36px;
    text-align: left;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 36px;
        text-align: left;
    }
}

a {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    font-size: 20px;
}

a:hover,
a:focus {
    text-decoration: none;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(23, 23, 23, 0.87) !important;
    z-index: 1000;
}

.navbar a {
    border: none;
}

.navbar .navbar-toggle {
    color: #444;
}

.navbar-brand {
    font-weight: 600;
    padding: 0;
}
.navbar-logo{
    height: 25px;
    width: 50px;
    display: inline-block;
}
.navbar-brand:focus {
    outline: 0;
    background-color: none;
}

.navbar-brand:hover {
    outline: 0;
    background-color: none !important;
}


.top-nav-collapse .nav li a:hover{
    outline: 0;
    background: none;
    color: #7cbaff !important;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.dawn{
    background:url('') no-repeat center center scroll;
    background-color: #000;
}

.dawn-section{
    padding-top: 50px;
    padding-bottom: 100px;
}

.eco-system{
    background-color: #17004a;
}

.eco-system-section{
    padding-top: 50px;
    padding-bottom: 100px;
}

@media(max-width:767px) {
    p {
        font-size: 16px;
    }

    .navbar-brand {
        color: #333332 !important;
    }
    .navbar-logo{
        height: 40px;
        width: 40px;
        display: inline-block;
        text-align: center;
    }
    .navbar-title{
        display: none;
    }
    .brand-heading {
        font-size: 36px !important;
        font-weight: 600;
        letter-spacing: -0.05em;
        color: #fff;
    }
    .intro-text {
        font-size: 16px !important;
        line-height: 30px;
        font-weight: 100;
        text-align: center;
    }
    .dawn-page-scroll{
        display: none;
    }
    .profile {
        padding-bottom: 25px;
    }
}

@media(max-width:500px) {
    .dawn-section {
        padding-top: 140px;
        margin-top: -150px;
        min-height: 780px !important;
    }
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        border-bottom: 0;
        
        -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }

    .top-nav-collapse {
        background-color: rgba(255, 255, 255, 0.97);
        margin-top: 0px;
        color: #333332;
    }

    .top-nav-collapse .nav li .active a {
        color: #333332 !important;
    }

    .top-nav-collapse li a {
        color: #333332 !important;
    }

    .top-nav-collapse .navbar-brand {
        color: #333332 !important;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: rgba(255,255,255,0.7);
    background: url('aurora/img/garan_sunrise.png') no-repeat center center scroll;
    background-color: #3700cb;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: #fff;
}

.intro-text {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 72px;
    }

    .intro-text {
        font-size: 24px;
    }
}


.page-scroll {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.title {
    font-size: 14px !important;
    font-weight: 400;
    text-align: center !important;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #b3b3b1 !important;
    margin-bottom: 2px !important;

}

/* Caption Style */

footer {
  background-color: #000;
  padding: 10px; }
  footer nav {
    text-align: center;
    margin-right: 30px; }
    footer nav a {
      color: #fff;
      margin-top: 30px;
      margin-left: 40px;
      display: inline-block;
      font-size: 18px;
      font-weight: 700; }
  footer .copyright {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: lightgrey; }
  footer .social-icons {
    text-align: center; }
    footer .social-icons a {
      display: inline-block;
      margin: 20px 30px 20px 30px; }


@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }
}

.button {
    width: 180px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    color: #fff;
    background-color: #5e04ed;
    border: 2px solid #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    display: block;
    position: relative;
    margin: auto;
    height: 54px;
    line-height: 54px;
    transition: all 200ms ease-in-out 0s;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    font-size: 12px;
}

.button:hover {
    color: #fff !important;
}

@media(max-width:1199px) {
   
    }
}

@media(max-width:767px) {

    }

}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

::selection{background:rgba(0,0,0,0.1);}
::-moz-selection{background:rgba(0,0,0,0.1);}
img::selection{background:transparent;}
img::-moz-selection{background:transparent;}